{% extends 'base.html' %}

{% block title %}Workouts details{% endblock %}
{% block page_head %}
    <link rel="stylesheet" href="{{ url_for('workoutDetails.static', filename='css/workoutDetails.css') }}"/>
    <script defer src="{{ url_for('workoutDetails.static' ,filename='js/workoutDetails.js') }}"></script>
{% endblock %}


{% block bodyTitle %}
    <h1>My Details</h1>
    <h2>Workouts Details </h2>
    <h1>TRX</h1>
{% endblock %}

{% block content %}
    <div class="train_text_box">
        <p1>TRX is a workout system that uses gravity and body weight to perform
            exercises to strengthen your core and increase muscular endurance,
            while providing a total body workout.<br>
            The best thing is that all fitness levels can join in because you’re
            in control of how much your want to challenge yourself on each exercise!
            Simply adjust your body position to add or decrease resistance.
        </p1>
    </div>

    <div class="see_details">
        <div class="row">
            <div class="col-25">
                <label for="Creator">Creator:</label>
            </div>
            <div class="col-75">
                <p class="output1" id="work_Creator"> {{ workout['user_host'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="date">Date:</label>
            </div>
            <div class="col-75">
                <p class="output2" id="work_Date"> {{ workout['workout_date'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="Time">Time:</label>
            </div>
            <div class="col-75">
                <p class="output3" id="work_Time">{{ workout['workout_time'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="Gender">Gender:</label>
            </div>
            <div class="col-75">
                <p class="output4" id="work_Gender">{{ workout['Gender'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="NumOffParticipants">Number off participants:</label>
            </div>
            <div class="col-50">
                <p class="output5" id="work_NumOffPart">{{ workout['number_of_participants'] }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="Participants">Participants:</label>
            </div>
            <div class="col-75">
                <div class="output6">
                    <div id="containerWorkouts">
                        <table id="work_Participants" class="table">

                            <thead>
                            <tr>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>UserName</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for  participant in participants %}
                                <tr>
                                    <td> {{ participant['First_name'] }}</td>
                                    <td> {{ participant['Last_name'] }}</td>
                                    <td> {{ participant['age'] }}</td>
                                    <td> {{ participant['User_name'] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="joinUNbutton">
                        <div id="JoinBtn">
                            <div class="joinBtn" onclick="JoinWorkout()"></div>
                        </div>
                        <div id="Unsubscribe" hidden>
                            <div class="unsubscribe" onclick="deleteMyself()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="place">Meet you here:</label>
                <div>City: Beer sheva</div>
                <div>Address: גרץ 7</div>
                <div id="map3">


                    <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
                            defer
                    ></script>

                </div>

            </div>
            <div class="col-75">
                <p class="output7" id="work_Place"></p>
            </div>
        </div>

    </div>





{% endblock %}
