{% extends 'base.html' %}

{% block title %}Workouts{% endblock %}
{% block page_head %}
    <link rel="stylesheet" href="{{ url_for('workouts.static', filename='css/workouts.css') }}"/>
    <script defer src="{{ url_for('workouts.static' ,filename='js/workouts.js') }}"></script>
{% endblock %}


{% block bodyTitle %}
    <h1>My Profile</h1>
    <h2>Workouts</h2>
{% endblock %}

{% block content %}
    <div id="containerWorkouts">
        <div id="AddBtnD">
            <a href="/newWorkout" class="addBtn"></a>
            <p>Add New</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Workouts type</th>
                <th>Creator</th>
                <th>Aproval Status</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
            </thead>

            <tr data-url="WorkOutDetails.html">
                <td>Yoga</td>
                <td>Yossi Aloni</td>
                <td>Pending</td>
                <td>09/05/22</td>
                <td>10:30-11:30</td>
                <td><a href="#Yoga">Watch details </a></td>
            </tr>
            <tr>
                <td>TRX</td>
                <td>Me</td>
                <td>Approval</td>
                <td>10/05/22</td>
                <td>19:30-20:30</td>
                <td><a href="WorkOutDetails.html">Watch details </a></td>
            </tr>
            <tr>
                <td>Swimming</td>
                <td>Naama Arseni</td>
                <td>Postponed</td>
                <td>11/05/22</td>
                <td>16:00-17:00</td>
                <td><a href="#Swimming">Watch details </a></td>
            </tr>

        </table>
    </div>



    <br>
    <br><br><br><br><br>


{% endblock %}
