{% extends 'base.html' %}

{% block title %}Workouts{% endblock %}
{% block page_head %}
    <link rel="stylesheet" href="{{ url_for('workouts.static', filename='css/workouts.css') }}"/>
    <script defer src="{{ url_for('workouts.static' ,filename='js/workouts.js') }}"></script>
{% endblock %}


{% block bodyTitle %}
    <h1>My Profile</h1>
    <h2>Workouts</h2>
{% endblock %}

{% block content %}
    <div id="containerWorkouts">
        <div id="AddBtnD">
            <a href="/newWorkout" class="addBtn"></a>
            <p>Add New</p>
        </div>
    <h1>Workouts Created By Me</h1>
        <table class="table">

            {% for  workout in workoutsCreated %}
                <div class="container">
                <h3>Workout Type:</h3>
                <h3>{{ workout['Workout_type'] }}</h3>

                </div>

            {% endfor %}


        </table>
    </div>



    <br>
    <br><br><br><br><br>


{% endblock %}
